<div class="col">
  <h2>Список документов</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">id</th>
        <th>Название документа</th>
        <th>Смотреть</th>
        <th>Автор</th>
        <th>Расширение</th>
        <th>Дата загрузки</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents">
        <td class="hidden">{{document.id}}</td>
        <td>{{document.fileName}}</td>
        <td><button (click)="saveFile(document)">Скачать</button></td>
        <td>{{document.fileAutor}}</td>
        <td>{{document.ext}}</td>
        <td>{{document.dateUploading}}</td>
        <td>{{document.filePath}}</td>
        <td><button (click)="removeDocument(document)">Удалить</button></td>
        <td><button (click)="editDocument(document)">Изменить</button></td>
      </tr>
    </tbody>
  </table>

  <ul>
    <li *ngFor="let p of pages; let i = index">
      <a href="#" (click)="setPage(i, $event)">{{i}}</a>
    </li>
  </ul>
</div>